.srtr {
	position: relative;
	height: var(--button-size);
	width: var(--button-size);

	border: 2px solid #202020;

	transition: background-color 0.3s;
}

.srtr--open {
	background-color: #d3d3a6;
}

.srtr:hover {
	background-color: #d3d3a6aa;
}

.srtr .srtr__tltp-txt {
	position: absolute;
  visibility: hidden;
  background-color: #d3d3a6;
  color: #000;
	font-weight: 500;
	line-height: 1.5;
  text-align: center;
  padding: 0;
  border-radius: 6px;
	opacity: 0;

	transition: opacity 0.3s, padding 0.3s;
	overflow: hidden;

  position: absolute;
	bottom: -50px;
	left: 2rem;
	transform: translateX(-50%);
	z-index: 1;
}

.srtr:hover .srtr__tltp-txt {
  visibility: visible;
	padding: 0.6rem 0.9rem;
	opacity: 1;
}

.srtr__btn {
	height: var(--button-size);
	width: var(--button-size);
	cursor: pointer;
}

.srtr__list {
	position: relative;
	top: 0;
	left: -2rem;
	max-height: 0;
	width: fit-content;
	padding: 0;
	z-index: 1;

	background-color: #fff;

	overflow: hidden;
	transition: padding 0.3s, max-height 0.3s;
}

.srtr__list--open {
	max-height: 70vh;
	overflow-y: scroll;
	padding: 0.3rem;
	border: 1px solid #000;
}

.srtr__item {
	position: relative;
	width: 150px;
	display: block;
	padding: 0.3rem 0.5rem;
	line-height: 1.5;
	cursor: pointer;
}

.srtr__item-idx {
	position: absolute;
	left: 5px;
	top: 50%;
	height: 1rem;
	width: 1rem;
	transform: translateY(-50%);

	border-radius: 50%;

	font-size: 0.7rem;
	font-weight: 700;
	text-align: center;
}

.srtr__direction {
	position: absolute;
	width: 10px;
	height: 10px;
	bottom: -6px;
	left: 50%;
	transform: translateX(-50%) rotateZ(90deg);
	transition: transform 0.3s;
}

.srtr__item-idx--reversed .srtr__direction {
	transform: translateX(-50%) rotateZ(-90deg);
}

.srtr__item:hover {
	background-color: #bbb;
}

.srtr__item + .srtr__item {
	margin-top: 0.3rem;
}

.srtr__item--slctd {
	background-color: #999;
}

